@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-links {
    @apply text-[1.1rem] text-primary-500 font-bold md:font-normal leading-[.6rem] cursor-pointer hover:bg-secondary-500 hover:bg-opacity-[0.3] md:hover:bg-primary-500 md:hover:bg-opacity-[0.1] px-4 py-2 rounded-[.2rem]
}

.mobile-nav {
    @apply top-0 bottom-0 w-full
}

.card {
    @apply rounded-[0.4375rem] bg-primary-500 px-1 md:px-2 py-2  md:w-[14.5rem]
}

.card-gradient {
    background: linear-gradient(133deg, rgba(23, 23, 92, 0.70) 0%, rgba(0, 0, 0, 0.49) 100%);

}

/*CUSTOM SHAPE DIVIDERS STYLES */

.first-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.first-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 117px;
    transform: rotateY(180deg);
}

.first-curve .shape-fill {
    fill: #E6E6FA;
}


.second-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.second-curve svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 178px;
}

.second-curve .shape-fill {
    fill:  #4D4DDB;
}

.third-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.third-curve svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 127px;
}

.third-curve .shape-fill {
    fill: #000000;
}